<!DOCTYPE html>
<html lang="en">

<head>

  <title>Password Generator</title>

  <script src="/js/customfunctions.js"></script>


</head>

<body id="page-top">

  <!-- Events -->
  <section class="page-section" id="events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <label for="lengthmin">Input password min length</label>
          <input type="number" id="lengthmin" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label for="lengthmax">Input password max length</label>
          <input type="number" id="lengthmax" required>
        </div>
      </div>
      <!-- Give a specific password level that result needs to match -->
<!--         <div class="row">
          <div class="col-lg-12">
          <label for="length">IBMi password level (optional)</label>
          <input type="number" id="IBMPwdLvl" max="3">
        </div>
      </div> -->
      <h3 class="section-heading text-muted">Alpha characters</h3>
      <div class="row">
        <div class="col-lg-12">
          <label for="Upperchar">Upper case?</label>
          <input type="radio" id="Upperchar" name="casechar" checked="true" value="upper" onclick="checkstart()">
          <label for="Lowerchar">Lower case?</label>
          <input type="radio" id="Lowerchar" name="casechar" value="lower" onclick="checkstart()">
          <label for="Mixedchar">Mixed case?</label>
          <input type="radio" id="Mixedchar" name="casechar" value="mixed" onclick="checkstart()">
          <label for="noletters">No letters?</label>
          <input type="radio" id="noletters" name="casechar" value="none" onclick="checkstart()">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- Ensure first digit is alpha -->
          <label for="firstchar">Start with Letter?</label>
          <input type="checkbox" id="firstchar">
        </div>
      </div>
      <h3 class="section-heading text-muted">Numeric characters</h3>
      <div class="row">
        <div class="col-lg-12">
          <label for="mixed">Allow Numeric?</label>
          <input type="checkbox" id="numbers">
          <!-- QPWDLMTAJC - Limit adjacent digits in password -->
          <label for="LimitAjc">Limit adjacent digits?</label>
          <input type="checkbox" id="LimitAjc" onclick="checknum()">
          <!-- QPWDDRQDDGT - Must have at least 1 digit -->
          <label for="MandDig">Must include digit?</label>
          <input type="checkbox" id="MandDig" onclick="checknum()">
        </div>
      </div>
      <h3 class="section-heading text-muted">Special characters</h3>
      <div class="row">
        <div class="col-lg-12">
          <label for="IBMspecial">IBMi special characters?</label>
          <input type="radio" id="IBMspecial" name="special" value="IBMi">
          <label for="Genspecial">general special characters?</label>
          <input type="radio" id="Genspecial" name="special" value="general">
          <label for="Nospecial">none</label>
          <input type="radio" id="Nospecial" name="special" value="none">
        </div>
      </div>
      <h3 class="section-heading text-muted">Other requirements</h3>
      <div class="row">
        <div class="col-lg-12">
          <!-- QPWDLMTREP (pt1) - Limit repeat characters -->
          <label for="LimitAjcC">Limit adjacent characters?</label>
          <input type="checkbox" id="LimitAjcC">
          <!-- QPWDLMTREP (pt2) - only use each character once -->
          <label for="NoRep">No repeat characters?</label>
          <input type="checkbox" id="NoRep">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- QPWDLMTCHR - allow up to 10 restricted characters -->
          <label for="restricted">Restricted Characters? (Max 10)</label>
          <input type="text" id="restricted" maxlength="10">
          <button onclick="genpass()">submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <textarea rows="2" id="results" readonly style="border: none"></textarea>
        </div>
      </div>
    </div>
  </section> 

  <script src="/js/manual/pass-process.js"></script>

</body>

</html>
